<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Photosite</title>
</head>

<body>
    <h1>Edit Photosite</h1>
    <form action="/photosites/<%= photosite._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="photosite[title]" value="<%=photosite.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="photosite[location]" value="<%= photosite.location%>">
        </div>
        <button>Update Photosites</button>
    </form>
    <a href="/photosites/<%= photosite._id%>">Back To Photosite</a>

</body>

</html>