<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photosites</title>
</head>

<body>
    <h1>All Photosites</h1>
    <div>
        <a href="/photosites/new">Add Photosite</a>
    </div>
    <ul>
        <% for (let photosite of photosites){%>
            <li><a href="/photosites/<%= photosite._id %>"><%= photosite.title %></a></li>
        <% }%>
    </ul>

</body>

</html>