<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Photosite</title>
</head>

<body>
    <form action="/photosites" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="photosite[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="photosite[location]">
        </div>
        <button>Add Photosite</button>
    </form>
    <a href="/photosites">All Photosites</a>

</body>

</html>